
pymongo[srv]==4.3.3 # The [srv] is important for connecting to Atlas
eventlet==0.33.3
Pillow>=10.0.0

Flask
Flask-SocketIO
Flask-Login
Flask-PyMongo
itsdangerous
Werkzeug
qrcode
gunicorn
eventlet
python-dotenv

