# Core
Flask
Flask-SocketIO
Flask-Login
Flask-PyMongo
itsdangerous
Werkzeug
qrcode
gunicorn
python-dotenv

# MongoDB Atlas support
pymongo[srv]

# Async workers (for Socket.IO + Gunicorn)
eventlet==0.33.3

# For QR code generation (image backend)
Pillow>=10.0.0
