Flask
Flask-PyMongo
pymongo[srv]   # The [srv] is important for connecting to Atlas
Flask-Login
Flask-SocketIO
eventlet
qrcode
Pillow
itsdangerous
python-dotenv
gunicorn
eventlet

# 🔹 Chatbot & ML dependencies
scikit-learn
pandas
numpy


# face reco
face-recognition
cmake
dlib
opencv-python



